<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login with Ethereum Wallet - Final</title>
    <script
      id="sentry"
      src="/login/sentry.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.onLoad(function () {
        Sentry.init({
          release: "{{ version }}",
        });
      });
    </script>
    <script>
      var redirectUrl = "{{ url|safe }}";
    </script>
    <script
      async
      src="/login/static/js/final.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body></body>
</html>
