<html>
  <head>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Cryptoverse Login - Demo</title>
      <link
        rel="stylesheet"
        href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      />
      <!--[if lte IE 8]>
        <link
          rel="stylesheet"
          href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css"
        />
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <style>
        body {
          margin: 0;
        }
        .container {
          height: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item {
          width: auto;
          display: flex;
          flex-direction: column;
        }
      </style>
    </head>
    <body>
      <div class="container">
        <div class="item">
          <a
            class="pure-button pure-button-primary"
            href="{% url 'protected' %}"
            >Login with Ethereum Wallet</a
          >
        </div>
      </div>
    </body>
  </head>
</html>
